<template name="projectItem">
  <div class="project clearfix" data-id="{{_id}}">
    <h4 class="project__name pull-left">
      <a href="{{url}}">{{name}}</a>
    </h4>
    <div class="project__notes">{{notes}}</div>
    {{#if currentUser }}
    <div class="button-group pull-right" role="group" aria-label="Edit controls">
      <a href="#" id="edit-{{_id}}" class="edit btn btn-warning">Edit</a>
      <a href="#" id="delete-{{_id}}" class="delete btn btn-danger">Delete</a>
    </div>
    {{/if}}
  </div>
</template>